<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- To enable JMX Management -->
    <jmxConfigurator/>
    
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %5p | %t | %-55logger{55} | %m %n</pattern>
        </encoder>
    </appender>

	<appender name="NOP" class="ch.qos.logback.core.helpers.NOPAppender" />
 
<!--     <logger name="com.anazzubair.techy"> -->
<!--         <level value="INFO" /> -->
<!--     </logger> -->
 
<!--     <logger name="org.springframework"> -->
<!--         <level value="INFO" /> -->
<!--     </logger> -->
    
<!--     <logger name="org.hibernate"> -->
<!--     	<level value="INFO" /> -->
<!--     </logger> -->
 
    <root>
        <level value="TRACE" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>